.section1 {
	background-color: #3055a3;
}

.section2 {
	background-color: #7baede;
}

.section3 {
	background-color: #001880;
}

.section4 {
	background-color: #d4f2ff;
}

.card, .card-img-top {
	border-radius: 0;
}

.card {
	border: 0;
}

/* CSS untuk card dan gambar */
.card-img-top {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi untuk gambar */
}

.card-hover:hover .card-img-top {
    transform: scale(1.1); /* Membesarkan gambar saat hover */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Efek bayangan saat hover */
}

.card-hover {
    overflow: hidden; /* Menghindari gambar keluar dari card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Memberikan bayangan lembut pada card */
    transition: box-shadow 0.3s ease; /* Transisi bayangan card */
}


/* SALJU  */
	.snowflake {
	  position: fixed; /* Salju tetap terlihat saat scroll */
	  top: -10px;
	  background-color: white;
	  border-radius: 50%;
	  opacity: 0.9;
	  pointer-events: none;
	  animation: fall linear infinite;
	}

	@keyframes fall {
	  0% {
	    transform: translateY(0);
	  }
	  100% {
	    transform: translateY(100vh);
	  }
	}

	/* Variasi ukuran dan kecepatan salju */
	.snowflake:nth-child(odd) {
	  animation-duration: 25s;
	  animation-timing-function: ease-in;
	}

	.snowflake:nth-child(even) {
	  animation-duration: 12s;
	  animation-timing-function: ease-out;
	}

/* PENUTUP SALJU */