.section1 {
	background-color: #3055a3;
}

.section2 {
	background-color: #7baede;
}

.section3 {
	background-color: #001880;
}

.section4 {
	background-color: #d4f2ff;
}

.card, .card-img-top {
	border-radius: 0;
}

.card {
	border: 0;
}

.card-body {
    padding: 0;
}

.col-6, .col-sm-6, .col-12, .col-md-6, .col-md-3 {
/*    padding: 0.8px 0.4px 0px 0.4px;*/
padding: 0;
}

.col-6-cs1 {
    padding-right: 0.4px;
    padding-bottom: 0.8px;
}

.col-6-cs2 {
padding-left: 0.4px;
}

.col-12-cs {
/*    padding-top: 0.8px;*/
}


.col-6-msc1 {
    padding-right: 6px;
    padding-bottom: 10px;
}

.col-6-msc2 {
padding-left: 6px;
}












/* CSS untuk card dan gambar */
.card-img-top {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi untuk gambar */
}

.card-hover:hover .card-img-top {
    transform: scale(1.1); /* Membesarkan gambar saat hover */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Efek bayangan saat hover */
}

.card-hover {
    overflow: hidden; /* Menghindari gambar keluar dari card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Memberikan bayangan lembut pada card */
    transition: box-shadow 0.3s ease; /* Transisi bayangan card */
}

.card-body-music {
    padding: 0;
}




audio {
            width: 100%;
            padding: 0;
            height: 35px;
            background-color: white;
            padding: 0px;
            border-radius: 0px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border: 0px solid #ddd;
            outline: none;
}

audio::-webkit-media-controls-panel {
            background-color: #fff; /* Panel background */
}

.audio2 {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}
